@import "tailwindcss";

/* index.css */

.nav-icon {
	background-color: #f97316; /* orange-500 */
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 9999px;
	transition: background-color 0.3s, color 0.3s;
}

.nav-icon:hover {
	background-color: #fed7aa; /* orange-200 */
	color: #c2410c; /* orange-800 */
}

.nav-text {
	font-size: 0.75rem;
	line-height: 1rem;
}

.nav-text.active {
	text-decoration: underline;
	font-weight: bold;
	color: #ea580c; /* orange-600 */
}
